<div>
  <link href="./blog-card.css" rel="stylesheet" />
  <div class="blog-card-container">
    <img
      alt="image"
      src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-bags.jpg"
      class="blog-card-image"
    />
    <h5 class="blog-card-text"><span>Rover raised $65 million</span></h5>
    <span>
      <span>
        Finding temporary housing for your dog should be as easy as renting an
        Airbnb. That’s the idea behind Rover
      </span>
    </span>
    <div class="next-button-container">
      <button class="next-button-button button">
        <span class="next-button-text"><span>Read more</span></span>
        <svg viewBox="0 0 1024 1024" class="next-button-icon">
          <path
            d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
