<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-container">
    <img
      alt="image"
      src="0c545438-dccd-4f3c-8e7c-92d8d4113c1d"
      class="feature-card-image"
    />
    <h5 class="feature-card-headingg HeadingThree">
      <span>Mentored Learning</span>
    </h5>
    <span class="feature-card-text">
      <span>
        Never leave your queries unsolved and get help from industry
        professionals throught the internship duration.
      </span>
    </span>
  </div>
</div>
