<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container01"></div>
      <div class="footer-container02">
        <div class="footer-container03">
          <span class="footer-text"><span>Contact us</span></span>
          <div class="footer-container04">
            <div class="footer-container05">
              <div class="footer-container06">
                <div class="footer-container07"></div>
              </div>
            </div>
          </div>
          <div class="footer-container08">
            <div class="footer-container09">
              <a
                href="https://www.linkedin.com/company/node-xx"
                target="_blank"
                rel="noreferrer noopener"
                class="footer-link"
              >
                <img
                  src="/playground_assets/download%20%5B1%5D-200h.png"
                  alt="image"
                  class="footer-image"
                />
              </a>
              <a
                href="mailto:karanwalia2k3@gmail.com?subject=Query regarding NodeX"
                class="footer-link1"
              >
                <img
                  src="/playground_assets/download%20%5B4%5D-200h.png"
                  alt="image"
                  class="footer-image1"
                />
              </a>
            </div>
            <a href="tel:+91-7708293783" class="footer-link2">
              <img
                src="/playground_assets/download%20%5B3%5D-200h.png"
                alt="image"
                class="footer-image2"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image3"
    />
  </footer>
</div>
