<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <nav class="header-nav">
      <span><span>Text</span></span>
    </nav>
    <div data-role="MobileMenu" class="header-mobile-menu">
      <div class="header-top">
        <a href="index.html" class="header-navlink Large">
          Soft UI Design System
        </a>
        <div data-role="CloseMobileMenu" class="header-close-menu">
          <svg viewBox="0 0 1024 1024" class="header-icon">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="header-mid">
        <div class="header-menu">
          <a href="index.html" class="header-navlink1 Large">Home</a>
          <a href="profile.html" class="header-navlink2 Large">Profile</a>
          <a href="coming-soon.html" class="header-navlink3 Large">
            Coming Soon
          </a>
        </div>
      </div>
      <div class="header-bot">
        <div class="primary-pink-button-container">
          <a
            href="https://www.linkedin.com/company/89794319"
            target="_blank"
            rel="noreferrer noopener"
            class="primary-pink-button-link button ButtonSmall"
          >
            <span>buy now</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
